
.map {
  height: 100vh;
}

.temperature-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}


.table-container {
  margin-left:10rem;
  margin-right:10rem;
   margin-top:5rem;
}

table {
  width: 100%;
}

th {
  background-color: #124d88;
}

td,
th {
  padding: 10px;
  font-weight: bold;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
}



.container {
  padding-top: 50px;
}

.emergency {
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.card-body {
  background-color: #ffffff;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: #6c757d;
}


/* Employes.css */

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-container input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.search-container input[type="text"]::placeholder {
  color: #999;
}

.search-container button {
  margin-left: 10px;
  border-radius: 5px;
  font-size: 14px;
}
